<!DOCTYPE html>
<html lang="en">


<!--Header-->
<head>
<meta charset="utf-8">
<title>VZPP</title>
<meta name="description" content="VZPP">
<meta name="author" content="VZPP">

<link rel="stylesheet" href="static/css/normalize.css">
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/d3.css">

<script type="text/javascript" src="static/scripts/d3.v4.min.js"></script>
<script src="static/scripts/jquery.min.js"></script>

</head>


<body>


<div class="container">
<div class="row">

<div class="twelve columns" style="margin-top: 10%">
<h1>VZPP 02</h1>


<p><a href="index.html">Home</a> <a href="01.html">01</a> <a href="02.html">02</a></p>


<div id="canvas"></div>
<script src="static/content_02.js"></script>
</div>

</div>
</div>


</body>
</html>
