<!DOCTYPE html>
<html lang="en">


<!--Header-->
<head>
<meta charset="utf-8">
<title>VZPP</title>
<meta name="description" content="VZPP">
<meta name="author" content="VZPP">

<link rel="stylesheet" href="static/css/normalize.css">
<link rel="stylesheet" href="static/css/style.css">

<script type="text/javascript" src="static/scripts/d3.v4.min.js"></script>
<script src="static/scripts/jquery.min.js"></script>

</head>


<body>


<div class="container">
<div class="row">

<div class="twelve columns" style="margin-top: 10%">
<h1>VZPP</h1>
<p>

<a href="01.html">001 - diagram</a></br></br>
<a href="007">007 - final post setup - circles</a></br></br>
<a href="011">011 - bars v1</a></br></br>



</p>


</div>

</div>
</div>


</body>
</html>
